numpy
pandas
matplotlib
h5py
pandas
seaborn
seaborn-image
scikit-learn
scikit-image
scipy
napari[all]
dacite
ipywidgets
tifffile
ipykernel 
natsort
opencv-python
ipyfilechooser
ipywidgets
ipykernel
ipympl
notebook